.reconstructor {
  margin: auto;
}

@media (min-width: 400px) {
  .reconstructor {
    max-width: 400px;
  }
}

.reconstructor #share-input {
  display: block;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  resize: none;
  height: 12em;
  width: 12em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.reconstructor .share-info {
  display: block;
}

.reconstructor .solution {
  text-transform: uppercase;
}

.reconstructor .submit {
  margin-top: 1em;
}

.reconstructor .wordle-row[data-selected=false] {
  opacity: 0.35;
}

.reconstructor .reconstructs {
  margin-top: 1em;
  transition: height 0.3s;
}

.reconstructor .reconstruct-list {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.reconstructor .reconstruct {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  /*border: 1px solid var(--color-tone-3);*/
  border-radius: 0.4em;
  background-color: var(--color-gray-light);
  padding: 0.5em;
  margin: 0.4em;
  font-family: monospace;
}

.reconstructor .reconstruct[data-enabled="false"] {
  color: var(--color-gray-mid);
}

.reconstructor .reconstruct[data-selected="true"] {
  color: white;
  background: var(--color-correct);
}

.reconstructor .reconstruct[data-word=""]::before {
  content: "❌";
}

.reconstructor .copy-board-container {
  margin-top: 1em;
  text-align: center;
}

.reconstructor .copy-board {
  background-color: var(--color-correct);
  color: white;
  padding: .5em 1em;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.reconstructor .copy-board .bi-check-lg {
  display: none;
}

.reconstructor .copy-board[data-copied=true] .bi-check-lg {
  display: inline;
}

.reconstructor .copy-board[data-copied=true] .bi-clipboard {
  display: none;
}
