#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  display: block;
  margin: 1vh 0 3vh 0;
  text-align: center;
}

a.active .header {
  margin-top: 5vh;
  margin-bottom: 4vh;
}

a.active .header .bi {
  display: none;
}

.back-button.active {
  display: none;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: stretch;
  padding: 0 .75em;
  max-width: 550px;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  color: var(--footer-color);
  background-color: var(--footer-bg);
}

.footer p {
  margin-top: 0;
}

.footer .bi {
  width: 1.5em;
  height: 1.5em;
}

.tagline {
  margin-bottom: 6vh;
  font-size: 1.3rem;
  color: var(--tagline-color);
  text-align: center;
}

.nav {
  margin-top: 2em;
}

.nav-item {
  position: relative;
  display: block;
  padding: 1.3em 0.5em;
  padding-right: 30px;
}

.nav-item:not(:last-child) {
  border-bottom: solid 1px #ccc;
}

.nav-item:hover {
  background-color: #f3f3f3;
}

.nav-item .bi {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  fill: #999;
}
