.wordle-board.selectable .wordle-row {
  cursor: pointer;
}

.wordle-row {
  display: flex;
  width: 100%;
  user-select: none;
  --wordle-row-max-width: 550px;
}

.wordle-tile {
  flex: 1 0 0;
  color: var(--board-color);
  
}
.wordle-tile .letter {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.wordle-tile .letter {
  margin: 5%;
}

.wordle-tile[data-state="empty"] .letter {
  background-color: var(--color-empty);
}

.wordle-tile[data-state="absent"] .letter {
  background-color: var(--color-absent);
}

.wordle-tile[data-state="present"] .letter {
  background-color: var(--color-present);
}

.wordle-tile[data-state="correct"] .letter {
  background-color: var(--color-correct);
}

/*.wordle-row {
  max-width: 350px;
}

/* copied from https://www.nytimes.com/games-assets/v2/wordle.ad4d1f42a5aee771f8d6557988a5fb7e99877fdc.css * /
.wordle-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.wordle-tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wordle-tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.wordle-tile[data-state="empty"] {
  border: 2px solid var(--color-tone-4);
}

.wordle-tile[data-state=tbd] {
  background-color: var(--color-tone-7);
  border: 2px solid var(--color-tone-3);
  color: var(--color-tone-1);
}

.wordle-tile[data-state="absent"] {
  background-color: var(--color-absent);
}

.wordle-tile[data-state="present"] {
  background-color: var(--color-present);
}

.wordle-tile[data-state="correct"] {
  background-color: var(--color-correct);
}

.wordle-tile[data-animation=pop] {
  -webkit-animation-name: Tile-module_PopIn__bu7hb;
  animation-name: Tile-module_PopIn__bu7hb;
  -webkit-animation-duration: 100ms;
  animation-duration: 100ms;
}

@-webkit-keyframes Tile-module_PopIn__bu7hb {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes Tile-module_PopIn__bu7hb {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.wordle-tile[data-animation=flip-in] {
  -webkit-animation-name: Tile-module_FlipIn__scjpz;
  animation-name: Tile-module_FlipIn__scjpz;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes Tile-module_FlipIn__scjpz {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes Tile-module_FlipIn__scjpz {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

.wordle-tile[data-animation=flip-out] {
  -webkit-animation-name: Tile-module_FlipOut__e4DRI;
  animation-name: Tile-module_FlipOut__e4DRI;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes Tile-module_FlipOut__e4DRI {
  0% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes Tile-module_FlipOut__e4DRI {
  0% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0);
  }
}
*/