.wordle-board.selectable .wordle-row {
  cursor: pointer;
}

.wordle-row {
  display: flex;
  width: 100%;
  user-select: none;
  --wordle-row-max-width: 550px;
}

.wordle-tile {
  flex: 1 0 0;
  color: var(--board-color);
  
}
.wordle-tile .letter {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.wordle-tile .letter {
  margin: 5%;
}

.wordle-tile[data-state="empty"] .letter {
  background-color: var(--color-empty);
}

.wordle-tile[data-state="absent"] .letter {
  background-color: var(--color-absent);
}

.wordle-tile[data-state="present"] .letter {
  background-color: var(--color-present);
}

.wordle-tile[data-state="correct"] .letter {
  background-color: var(--color-correct);
}
