*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --tagline-color: #555;
  --footer-color: #464646;
  --footer-bg: #dfdfdf;
  --link-color: #326891;

  --form-color: #212529;
  --form-border: 1px solid #9c9c9c;
  --form-focus-color: var(--form-color);
  --form-focus-border: 1px solid #484848;
  --form-focus-box-shadow: 0 0 0 2px #00000040;
  --form-checked-color: var(--color-correct);
  --button-color: white;
  --button-bg: var(--color-correct);

  --board-color: white;
  --color-correct: #68a963;
  --color-present: #f0c105;
  --color-absent: #787c7e;
  --color-empty: #f3f3f3;
  --color-gray-darkest: #000;
  --color-gray-dark: #333;
  --color-gray-mid: #666;
  --color-gray-light: #d5d5d5;
  --color-gray-lightest: #f3f3f3;

  --red: #f53a3a;
  --orange: #f5793a;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", Cantarell, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: var(--link-color);
  text-decoration: underline;
}

a.external::after {
  display: inline-block;
  content: "";
  mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/><path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>") no-repeat 0 0/0.875em .875em;
  width: .875em;
  height: .875em;
  margin-left: .25em;
  background-color: var(--link-color);
}

a.anchor-header:hover {
  margin-left: -.75em;
}

a.anchor-header:hover::before {
  display: inline-block;
  content: "";
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16"><path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/></svg>') no-repeat 0 0/0.75em .75em;
  width: .75em;
  height: .75em;
  vertical-align: -.125em;
  background-color: var(--color-gray-mid);
}

.bi, .header svg {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

select,
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
}

select,
input,
textarea {
  padding: .375rem;
  color: var(--form-color);
  background-color: inherit;
  border: var(--form-border);
}

select {
  padding: .375rem 2rem .375rem .375rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

select:focus,
input:focus,
textarea:focus {
  color: var(--form-focus-color);
  border: var(--form-focus-border);
  box-shadow: var(--form-focus-box-shadow);
  outline: 0;
}

button {
  border: none;
  cursor: pointer;
}

button.primary {
  padding: 0.5em 1em;
  font-weight: bold;
  color: var(--button-color);
  background-color: var(--button-bg);
}

div.checkbox {
  display: inline-block;
  white-space: nowrap;
}

div.checkbox label {
  white-space: initial;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin: 0;
  margin-top: .1em;
  margin-right: 0.2em;
  padding: 0;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

input[type="checkbox"]:checked {
  background-color: var(--form-checked-color);
  border-color: var(--form-checked-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

label {
  display: inline-block;
}


/* copied from https://www.nytimes.com/games-assets/v2/wordle.ad4d1f42a5aee771f8d6557988a5fb7e99877fdc.css */
body {
  color: var(--color-tone-1);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d3d6da;
  --gray: #86888a;
  --gray-2: #dcdcdc;
  --gray-3: #dfdfdf;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --black-2: #121212;
  --black-3: #363636;
  --orange: #f5793a;
  --blue: #85c0f9;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  --header-height: 40px;
  --header-padding-x: 16px;
  --keyboard-height: 200px;
  --game-max-width: 500px;
  --error-z-index: 500;
  --toast-z-index: 1000;
  --modal-z-index: 2000;
  --page-z-index: 3000;
  --system-toast-z-index: 4000;
  --spelling-bee: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg');
  --daily: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Crossword-Icon-Normalized.svg');
  --mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Mini-Icon-Normalized.svg');
  --tiles: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Tiles-Icon-Normalized.svg');
  --sudoku: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Sudoku-Icon-Normalized.svg');
  --vertex: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Vertex-Icon-Normalized.svg');
  --letter-boxed: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/LetterBoxed-Icon-Normalized.svg');
  --nyt: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/NYT-Icon-Normalized.svg');
  --wirecutter: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Wirecutter-Icon-Normalized.svg');
  --cooking: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Cooking-Icon-Normalized.svg');
  --athletic: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Athletic-Icon-Normalized.svg');
  --stats-auth: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/stats-auth-cta.svg');
  --wordlebot: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Icon-Normalized.svg');
  --chess: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Chess-Icon-Normalized.svg');
  --wordle-icon: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/wordle-icon.svg');
  --gameslogo: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/gameslogo.svg');
  --stats-problem: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-issue.svg');
  --link-info: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-link.svg');
  --badge-confirm: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-confirm.svg');
  --badge-fail: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-fail.svg');
  --large-stats: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-large-stats.svg');
  --wordle-sb-mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-sb.svg');
  --wordle-share-mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-share.svg');
  --wordle-stats-confirm-mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-confirm.svg');
  --wordle-stats-loaded-mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-loaded.svg');
  --wordle-stats-mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats.svg');
  --nyt-logo: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/nyt-logo.svg');
  --hybrid-back: url('https://www.nytimes.com/games-assets/v2/assets/hybrid-back-light-mode.svg');
  --hybrid-back-dark-mode: url('https://www.nytimes.com/games-assets/v2/assets/hybrid-back-dark-mode.svg');
  --promo-icon-height: 40px;
  --promo-icon-width: 40px;
  --promo-icon-padding: 0px;
  --svg-arrow-fill: white;
  --svg-arrow-stroke: black;
  --svg-arrow-fill-hover: black;
  --svg-arrow-stroke-hover: white;
  --spelling-bee-promo: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg')
}

:root {
  --color-tone-1: #000000;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-tone-8: #121212;
  --color-tone-9: #dfdfdf;
  --color-tone-10: #000000;
  --color-tone-11: #787c7e;
  --color-tone-12: #363636;
  --color-nav-hover: #f4f4f4;
  --opacity-50: rgba(255, 255, 255, 0.5);
  --error-background: #e3e3e1;
  --icon-disabled: #a6a6a6
}

.dark {
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-tone-8: #ffffff;
  --color-tone-9: #424242;
  --color-tone-10: #dfdfdf;
  --color-tone-11: #dfdfdf;
  --color-tone-12: #dfdfdf;
  --color-nav-hover: #2f2f31;
  --opacity-50: rgba(0, 0, 0, 0.5);
  --error-background: var(--color-tone-7);
  --icon-disabled: #59595a;
  --spelling-bee: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized-Color.svg');
  --daily: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Crossword-Icon-Normalized-Color.svg');
  --mini: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Mini-Icon-Normalized-Color.svg');
  --tiles: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Tiles-Icon-Normalized-Color.svg');
  --sudoku: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Sudoku-Icon-Normalized-Color.svg');
  --vertex: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Vertex-Icon-Normalized-Color.svg');
  --letter-boxed: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/LetterBoxed-Icon-Normalized-Color.svg');
  --nyt: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/NYT-Icon-Normalized-Color.svg');
  --athletic: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Athletic-Icon-Normalized-Color.svg');
  --stats-auth: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/stats-auth-cta.svg');
  --wordlebot: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Icon-Normalized-Color.svg');
  --chess: url('https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Chess-Icon-Normalized-Color.svg');
  --stats-problem: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-issue.svg');
  --link-info: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/dark-mode-wordle-link.svg');
  --gameslogo: url('https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/whitegameslogo.svg');
  --promo-icon-height: 27px;
  --promo-icon-width: 27px;
  --promo-icon-bg-size: 35px;
  --promo-icon-padding: 4px;
  --promo-icon-height: 40px;
  --promo-icon-width: 40px;
  --promo-icon-padding: 0px;
  --svg-arrow-fill: var(--color-tone-7);
  --svg-arrow-stroke: white;
  --svg-arrow-fill-hover: white;
  --svg-arrow-stroke-hover: black
}

:root,
.dark {
  --color-background: var(--color-tone-7)
}

:root {
  --color-present: var(--yellow);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7)
}

.dark {
  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7)
}

.colorblind {
  --color-correct: var(--orange);
  --color-present: var(--blue);
  --tile-text-color: var(--white);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent)
}